* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}
main {
  flex-grow: 1;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
ul {
  list-style: none;
  padding: 0 10px;
}
li {
  display: inline-block;
  font-size: 1.3rem;
  margin-right: 20px;
}
li a {
  text-decoration: none;
}
.list-text a {
  color: rgba(0, 0, 0, 0.87);
}
.list-icon a i {
  font-size: 1.8rem;
  position: relative;
  top: 3.5px;
  color: #737373;
}
.list-image img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: relative;
  top: 12px;
}
main {
  text-align: center;
}
.main-logo {
  padding-top: 109px;
}
.main-search {
  margin-top: 28px;
}
.main-search form {
  width: 528px;
  margin: 0 auto;
}
.main-search_container {
  display: flex;
  width: 100%;
  height: 44px;
  align-items: center;
}
.main-search_lupa {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-search_buscar {
  height: 100%;
  flex: 1;
}
.main-search_buscar input {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
.main-search_audio {
  height: 100%;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
  margin-right: 7px;
}
